.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0.8rem;
    padding: 0.5em
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(/img/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked ~ .lista__menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista__menu__titulo, .lista__menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px){

    .cabecalho {
        display: flex;
        padding: 0 2em;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__imagem--favoritos {
        display: none;
    }

    .container__titulo, .container__negrito {
        font-family: var(--font-secundaria);
        font-size: 1.9rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 2.6em;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        font-family: var(--font-pimaria);
        text-transform: uppercase;
        padding: 2em 0.5em;
    }

    .opcoes__item--link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista__menu { 
        display:block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .lista__menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista__menu__item:hover > .lista__menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .opcoes__item--link:hover {
        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px) {
    .container__texto {
        display: block;
    }
    
    .cabecalho {
        padding: 0 3em;
    }
   
    .opcoes {
        margin-right: auto;
        margin-left: 57px;
    }
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__imagem {
        padding: 1em 0 1em 3em;
    }

    .container__texto {
        font-family: var(--font-pimaria);
        font-size: 20px;
        color: var(--preto);
    }
}